.cabecalho {
    color: var(--cinza-escuro);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid var(--borda-cabecalho-mobile);
    position: absolute;
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.cabecalho__logo {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
    display: inline-block;
    border-radius: 15px;
}

.cabecalho__navegacao {
    text-align: center;
}

.cabecalho__link {
    font-size: 1.1rem;
    display: inline-block;
    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal{
    padding: 3em 0;
    background: #fefefe;
    width: 940px;
    margin: auto;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}



@media screen and (min-width: 1024px){
    .cabecalho{
        flex-direction: row;
        justify-content: space-between;
        border: none;
    }
}